<%= semantic_form_for @crew do |f| %>
  <%= f.inputs :title, :description %>
  <ul>
  <% @crew.sailors.each do |sailor| %>
    <li>
      <%= sailor.email %>
    </li>
  <% end %>
  </ul>
  <%= f.input :sailors, :as => :select, :collection => Sailor.all.map { |s| s.email } %>

<!--   <%= f.semantic_fields_for :sailors do |sailors| %>
    <%= sailors.inputs :first_name, :last_name, :name => "Author" %>
  <% end %> -->

  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>
<% end %>