<!DOCTYPE html>
<html>
<head>
  <title>Reussitateur</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="user_nav">
    <% if sailor_signed_in? %>
      Signed in as <%= current_sailor.email %>. Not you?
      <%= link_to "Leave the boat", destroy_sailor_session_path, method: :delete %>
    <% else %>
      <%= link_to "Enroll", new_sailor_registration_path %> or
      <%= link_to "Get onboard", new_sailor_session_path %>
    <% end %>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
